<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
</head>

<body>
<!-- Header -->
<div class="container">
    <div class="header-wrap d-none d-md-block">
        <div class="row">
            <!-- Left header box -->
            <header class="col-6 text-left">
                <h1>java 基础</h1>
            </header>
        </div>
    </div>
</div>
<!-- Main content area -->
<main class="container">
    <div class="row">
        <!-- 左侧目录 -->
        <aside class="col-md-4">
            <div class="sidebar-box">
                <h4>目录</h4>
                <div class="list-group list-group-root">
                    <a class="list-group-item" href="index.html">主页</a>
                    <a class="list-group-item" href="javascript:void(0)" onclick="getContext('jvm_classLoader.html')">java类的加载机制</a>
                    <a class="list-group-item" href="javascript:void(0)" onclick="getContext('jvm_memory.html')">JVM内存结构</a>
                    <a class="list-group-item" href="javascript:void(0)" onclick="getContext('jvm_metaspace.html')">Java 元空间</a>
                    <a class="list-group-item" href="javascript:void(0)" onclick="getContext('cms_detail.html')">CMS收集器</a>
                    <a class="list-group-item" href="javascript:void(0)" onclick="getContext('G1_detail.html')">G1收集器</a>
                </div>
            </div>
        </aside>
        <!-- 中间主体 -->
        <div class="col-md-8">
            <article id="mainContext">

            </article>
        </div>
    </div>
</main>
<script src="bootstrap.js"></script>
<script type="text/javascript">
     function getContext(url){
         var xmlhttp;
	    if (window.XMLHttpRequest){
		    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		    xmlhttp=new XMLHttpRequest();
	    }else{
		    // IE6, IE5 浏览器执行代码
		    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange=function()
	    {
		    if (xmlhttp.readyState==4 && xmlhttp.status==200){
			    document.getElementById("mainContext").innerHTML=xmlhttp.responseText;
		    }
	    }
	    xmlhttp.open("GET",url,true);
	    xmlhttp.send();
     }
</script>
</body>
</html>